# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# FastAPI / env
.env

# Flutter / Dart
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
pubspec.lock

# OS junk
.DS_Store
Thumbs.db
